body{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.btn-container{
    display: flex;
    flex-direction: row;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 2rem;
}
.red{
    background-color: #d95980;
}
.yellow{
    background-color: #f99b45;
}
.green{
    background-color: #63aac0;
}
.purple{
    background-color: #819ff9;
}

.gameFlash{
    background-color: white;
}
.userFlash{
    background-color:#39ff14
}